.risk-detail-wrapper {
    padding: 36px 24px;

    .risk-detail-panel {
        margin-bottom: 15px;

        .risk-detail-panel-header {
            height: 25px;
            font-size: 18px;
            line-height: 25px;
            padding-left: 20px;

            color: #ffffff;
            font-weight: bold;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                left: 0;
                height: 100%;
                width: 8px;
                background-color: #25a6ff;
                border-radius: 2px 2px 2px 2px;
            }
        }

        .risk-detail-panel-content {
            padding: 20px;
        }
    }

    .risk-detail-rdp {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .rdp-right {
        width: 201px;

        img {
            height: 169px;
            width: 100%;
        }
    }

    .risk-detail-field {
        font-size: 16px;
        color: #ffffff;
        margin-bottom: 10px;

        > span {
            display: inline-block;
        }

        > span:first-child {
            width: 72px;
            text-align: right;
            margin-right: 5px;
        }
    }

    .risk-detail-flows {
        .xf-timeline {
            height: 430px;
            overflow-y: auto;
            padding-right: 10px;

            /*滚动条样式*/
            &::-webkit-scrollbar {
                width: 8px;
            }

            &::-webkit-scrollbar-thumb {
                border-radius: 10px;
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                background: rgba(0, 0, 0, 0.2);
            }

            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
                border-radius: 0;
                background: rgba(0, 0, 0, 0.1);
            }
        }
    }
}

.patrol-detail-wrapper .patrol-detail-flows .xf-timeline::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.2);
}

.patrol-detail-wrapper .patrol-detail-flows .xf-timeline::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0;
    background: rgba(0, 0, 0, 0.1);
}
